.events {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.event-card {
    background-color: rgba(165, 165, 165, 0.4);
    padding: 20px;
    margin: 20px;
    width: 600px;
    max-width: 80vw;
    border-radius: 10px;
}

.event-card h2, .event-card h3 {
    margin: 0;
    padding: 0;
}

.event-card hr {
    margin-bottom: 15px;
}

.event-card h3 {
    font-size: 16px;
}

.event-card p {
    font-size: 14px;
}

.event-card div.event-images {
    display: flex;
}

.event-card div.event-images img {
    margin: 0;
    height: 15vw;
    max-height: 75px;
    padding: 0 10px;
}

.events iframe {
    max-width: 90vw;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 50px;
}